div(style='background: #050306;')
   img.portada(src='portada2.jpeg') 
div#theNavbar
  ul#myTopnav.topnav
    li
      a.first-nav(href='/') LoTrio
    li
      a(href='/qui-som') Qui Som
    li
      a(href='/galeria') Galeria
    li
      a(href='/contacto') Contacte
    li.icon
      a#iconThing(onclick='navBarResponsive()') &#9776;
