div(style='background: #050306;')
  img.portada(src='portada2.jpeg') 
nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Io Trio
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Trayectoria 
          span.caret
        ul.dropdown-menu
          li
            a(href='/anna_meli') Anna Meli
          li
            a(href='/laia_queralt') Lai Queralt
      li
        a(href='/galeria') Galeria
      li
        a(href='#') Contacto
