extends layout
block content
	div
		img.anna-meli(src='anna-meli.jpg')
		h3 Anna Meli Julbe
		p Nasqué a Súria l’1 d’octubre de 1989. Als tres anys començà els estudis musicals a l’Escola Municipal de Música de Súria on als sis va continuar amb el piano  amb Elisenda Duocastella i Anna Mariscal. Als quinze anys començà els estudis de violoncel a la mateixa escola, amb Júlia Pérez, formà part de la iniciativa que va crear la Jove Orquestra de la Catalunya Central. Posteriorment, l’any 2005, entrà al Conservatori de Manresa i finalitzà el Grau Professional de piano amb la professora Glòria Massegú. L’any 2008 inicià els estudis d’Enginyeria Tècnica Industrial a l’Universitat Politècnica de Catalunya i començà a exercità la docència musical a l’Aula Municipal de Música de Santa Maria d’Oló on encara n’és professora i, actualment, directora.  
		| EL 2012 va rebre un curs “d’ergonomia i higiene postural” a partir del mètode “Cos­Art” (per a l’educació instrumental i vocal) a càrrec de Yiya Díaz, que va fer que iniciés els seus estudis musicals superiors. El passat juny de 2016 finalitzar els estudis de pedagogia del piano al Conservatori Superior del Liceu sota el mestratge d’Alba Ventura. Havent rebut formació cambrística de Manel Valdivieso, Alan Branch, Emili Brugalla entre d’altres.