extends layout
block content
    div(style='text-align:center;')
        h2 Contacte
        p Si estu interessats amb el nostre projecte, podeu contactar amb nosaltres a través d'aquest email:
        p lotrioduett@gmail.com