extends layout
block content
	//- .container.responsive-gallery(style='margin-top:50px; margin-bottom:50px;')
	//- 	.col-sm-1
	//- 	.col-sm-2(style='background-image: url("laia.jpg")')
	//- 	.col-sm-2
	//- 		p asdfasdf
	//- 	.col-sm-2
	//- 		p asdfasdf
	//- 	.col-sm-2
	//- 		p asdfasdf
	//- 	.col-sm-2
	//- 		p asdfasdf
	img.test-img(src='meli-laia1.jpg')
	img.test-img(src='anna-meli.jpg')
	img.test-img(src='laia.jpg')
	img.test-img(src='portada.jpeg')


