extends layout
block content
	img#main-slide(src='/meli-laia1.jpg')
	img.mySlides(src='/anna-meli.jpg')
	img.mySlides(src='/laia.jpg')
	img.mySlides(src='/meli-laia1.jpg')
	img.mySlides(src='/portada.jpeg')
	a.w3-btn-floating.w3-display-left(onclick='plusDivs(-1)') ❮
	a.w3-btn-floating.w3-display-right(onclick='plusDivs(+1)') ❯