extends layout
block content
	//- .container.responsive-gallery(style='margin-top:50px; margin-bottom:50px;')
	//- 	.col-sm-1
	//- 	.col-sm-2(style='background-image: url("laia.jpg")')
	//- 	.col-sm-2
	//- 		p asdfasdf
	//- 	.col-sm-2
	//- 		p asdfasdf
	//- 	.col-sm-2
	//- 		p asdfasdf
	//- 	.col-sm-2
	//- 		p asdfasdf
	img.first-test-img(src='meli-laia1.jpg')
	img.test-img(src='anna-meli.jpg')
	img.test-img(src='laia.jpg')
	img.test-img(src='portada.jpeg')


	img#main-slide(src='/meli-laia1.jpg')
	img.mySlides(src='/anna-meli.jpg')
	img.mySlides(src='/laia.jpg')
	img.mySlides(src='/meli-laia1.jpg')
	img.mySlides(src='/portada.jpeg')
	a.w3-btn-floating.w3-display-left(onclick='plusDivs(-1)') ❮
	a.w3-btn-floating.w3-display-right(onclick='plusDivs(+1)') ❯