extends layout
block content
	div.laia
		img.anna-meli(src='laia.jpg')
		h3 Laia Queralt Martí
		p Nascuda a La Sénia va començar els estudis de clarinet i llenguatge musical a l’escola de Música de L’Agrupació Musical Senienca vinculada a la Banda amb el mateix nom, entitat guardonada amb la Creu de Sant Jordi, amb el professor Sergi Costes. Va continuar la seva formació clarinetistica al Conservatori Municipal de Música de Barcelona amb Alfons Carbonell, on obtingué el Premi d’Honor, i posteriorment al Conservatori Superior del Liceu amb Isaac Rodríguez. Actualment amplia els seus coneixements amb Michel Lethiec al Conservatoire à Rayonnement Régional de Niça a França activitat que compagina amb el Màster de Investigació en Musicologia que s’imparteix a la Universitat Autònoma de Barcelona.
		| Ha tocat a la Banda Federal de Catalunya, a l’Orquestra Simfònica de les Terres de l’Ebre, a l’Orquestra Metropolitana de Barcelona, a L’Òpera Jove de Catalunya, entre altres.
		| Ha treballat sota la direcció de Jose Pascual Vilaplana, Salvador Mas, Eugene Corporone, Francesc Prats, Manel Valdivieso, Albert Argudo, Johan de Meij, Tomas Doss, entre altres.

