body{
	background-color: #222222;
	color: white;
}
p{
	text-justify: inter-word;
}
div.anna{
	border-right: 2px solid white;
	margin-top: 10px;
}
.laia, .anna{
	width: 50%;
	display: inline-block;
}
div.anna p, div.laia p {
	padding: 15px;
}
h2.titulo-grande{
	margin-left: 9px;
}
.titulo-mediano{
	margin-left: 12px;
}
img.qui-som-anna{
	margin-right: 10px;
	width: 50%; 
	border-radius: 20px; 
	float: right; 
	padding-bottom: 5px; 
	padding-left: 15px; 
	padding-top: 10px;
}
img.qui-som-laia{
	width: 50%; 
	border-radius: 20px; 
	float: right; 
	padding-bottom: 5px; 
	padding-left: 15px; 
	padding-top: 10px;
}
img.test-img{
	width: 18%;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 35px;
	margin-right: 35px;
	transition: all 1s ease;
	border-radius: 10px;
}
.test-img:hover, .first-test-img:hover{
	transform: scale(2);
}
.portada{
	vertical-align:baseline !important; 
	width: 50%;
	margin-left: 22%;
}
.introduction{
	background-color: #333333;
	border-radius: 5px;
	margin-top: 20px;
}
div.introduction h1{
	padding-top: 20px;
}
div.introduction p{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
}
.first-nav{
	margin-left: 70px;
}


/* Style the buttons that are used to open and close the accordion panel */
button#accordion, button#accordion2, button#accordion3, button#accordion4 {
	background-color: #333333;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	border-radius: 5px 5px 5px 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button#accordion.active, button#accordion:hover, button#accordion2.active, button#accordion2:hover, button#accordion3.active, button#accordion3:hover, button#accordion4.active, button#accordion4:hover {
	background-color: #333444;
	border-radius: 5px 5px 0px 0px;
}

/* Style the accordion panel. Note: hidden by default */
div#panel, div#panel2, div#panel3, div#panel4 {
	width: 100%;
	padding: 18px 18px 18px 18px;
	background-color: #333333;
	border-radius: 0px 0px 5px 5px;
	animation: opacityLiOut 1s;
	display: none;
}
div#panel.active, div#panel2.active, div#panel3.active, div#panel4.active{
	display: block;
	animation: opacityLiIn 1s;
}



/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {
	float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 125px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
	display: none;
}
@media screen and (max-width: 1300px){
	ul.topnav li a{
		margin-left: 50px;
		padding: 20px;
		padding-left: 80px;
		padding-right: 80px;
	}

}
@media screen and (max-width: 1120px){
	ul.topnav li a{
		margin-left: 50px;
		padding: 20px;
	}

}
@media screen and (max-width: 1190px){
	ul.topnav li a{
		margin-left: 50px;
		padding: 15px;
	}

}

@media screen and (min-width:993px){
	.titulo-mediano{
		display: none;
	}

}
@media screen and (max-width:993px){
	.titulo-grande{
		display: none;
	}
	img.qui-som-anna, img.qui-som-laia{
		padding-right: 12px;
		width: 100%;
		float: none;
	}
}
@media screen and (max-width:950px){
	img.test-img{
		width: 35%;
		margin-top: 35px;
		margin-bottom: 35px;
		margin-left: 35px;
		margin-right: 35px;
		transition: all 1s ease;
		border-radius: 10px;
	}
	.laia, .anna{
		width: 50%;
		display: inline-block;
	}
}

}
@media screen and (max-width:770px){
	
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
	.laia, .anna{
		width: 100%;
		border-bottom: 2px solid white;
		border-right: 2px solid white;
	}
	img.qui-som-anna, img.qui-som-laia{
		width: 50%;
		float: left;
		border-right: none;
	}
	ul.topnav li {
		transition: 2.5s;
		display: none;
	}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
	ul.topnav li a{
		padding: 14px 16px;
		animation: opacityLiOut 0.5s;
	}
	/* Style the buttons that are used to open and close the accordion panel */
	button#accordion, button#accordion2, button#accordion3, button#accordion4 {
		background-color: #333333;
		color: white;
		cursor: pointer;
		padding: 18px;
		text-align: left;
		border: none;
		outline: none;
		transition: 0.4s;
		border-radius: 5px 5px 5px 5px;
	}
	ul.topnav.responsive{
		position: relative;
	}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: center;
	}
	ul.topnav.responsive li a{
		animation: opacityLiIn 0.5s;
	}
	#megaIcon{
		height: 52px;
	}
	.first-nav{
		margin-left: 0;
	}
	.portada{
		width: 100%;
		margin: 0;
	}
	#iconThing{
		animation: none !important;
		cursor: pointer;
	}
	img.test-img{
		margin-top: 35px;
		margin-bottom: 35px;
		margin-left: 30%;
		margin-right: 35px;
		width: 45%;	
	}
}
@media screen and (max-width:420px){
	img.qui-som-anna, img.qui-som-laia{
		width: 98%;
		float: none;
	}
}

@keyframes opacityLiIn {
	0%   {opacity: 0; height: 0%;}
	25%  {opacity: 0.25; height: 25%;}
	50%  {opacity: 0.5; height: 50%;}
	75%  {opacity: 0.75; height: 75%;}
	100% {opacity: 1; height: 100%;}
}
@keyframes opacityLiOut {
	0%   {opacity: 1; height: 100%;}
	25%  {opacity: 0.75; height: 75%;}
	50%  {opacity: 0.5; height: 50%;}
	75%  {opacity: 0.25; height: 25%;}
	100% {opacity: 0; height: 0%; display: none;}
}